#playlist-center{
	width: 74vw;
	
	display: inline-block;
	float: left;
	padding-top: 20px;
}


#playlist-details-display{
	background-color: #4da8da;
	margin-left: 5%;
	width: 93%;
	height: 300px;
	
}
#playlist-details-display img{
	height: 100%;
	width: 40%;
	float: left;
}
#playlist-info{
	width: 56%;
	height: 90%;
	
	display: inline-block;
	float: left;
	padding: 2%;
	overflow: hidden;
}
#playlist-paragraph{
	max-height: 80px;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
	margin-bottom: 5px;

}
/* remove scrollbar form chrome */
#playlist-paragraph::-webkit-scrollbar { 
	display: none; 
}
#playlist-info h2, #playlist-info p{
	display: inline;
}
#follower-count{
	float: right;
}

#playlist-button-info{
	width: 80%;
	height: auto;
	display: inline-block;
}
#playlist-list{
	margin-bottom: 75px;
}
#playlist-list ol{
	
}
#playlist-list ol li{
	width: 95%;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #4da8da;
}
#playlist-list>ol>li>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;

}
#playlist-list ol li div img{
	width: 100px;
}

#playlist-list>ol>li>div:hover img{
	opacity: 0.5;
	transition: opacity 1s;
}
#playlist-list>ol>li>div:hover div{
	opacity: 1;
	transition: opacity 1s;
}
#playlist-list>ol>li>div{
	position: relative;
}
.playlist-song-hover-button{
	opacity: 0;
	z-index: 1;
	top: 30%;
	left: 5%;
	position: absolute;
}
#playlist-list>ol>li>div>p,#playlist-list>ol>li>div>h4{
	display: inline-block;
}
/* start of recent-and-similar section*/
#recent-and-similar{
	width: 25.1vw;
	background-color: #4da8da;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	float: left;
	padding-top: 20px;
	margin-bottom: 150px;
	overflow: hidden;
}
/*start of similar section*/
#similar-artists-wrapper{
	width: 100%;
	
}

#similar-artists-header{
	width: 100%;
	
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.similar-artist{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.similar-artist h4,.similar-artist p{
	display: inline;
}
.similar-artist>div{
	display: inline;
}
.similar-artist img{
	width: 100px;
	height: 150px;
}
/*end of similar section*/
/*start of recent section*/
#recent-song-wrapper{
	width: 100%;
	
	margin-top: 50px;
}

#recent-song-header{
	width: 100%;
	
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.recent-song{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.recent-song h4,.recent-song p{
	display: inline;
}
.recent-song>div{
	display: inline;
}
.recent-song img{
	width: 100px;
	height: 150px;
}
/*end of recent section*/
/*end of recent-and-similar section*/

@media only screen and (max-width: 1024px){
	.playlist-song-hover-button{
		left: 6%;
		top: 35%;
	}
}
@media only screen and (max-width: 600px){
	#playlist-center{
		width: 100vw;
	}
	#recent-and-similar{
		width: 100vw;
	}
	.playlist-song-hover-button{
		left: 10%;
	}
}
