#playlist-center{
	width: 75vw;
	background-color: orange;
	display: inline-block;
	float: left;
	padding-top: 20px;
}

#recent{
	width: 25vw;
	height: 200px;
	background-color: pink;
	display: inline-block;
	float: left;
	padding-top: 20px;
}
#playlist-details-display{
	margin: auto;
	width: 85%;
	height: 300px;
	background-color: blue;
}
#playlist-details-display img{
	height: 100%;
	width: 40%;
	float: left;
}
#playlist-info{
	width: 56%;
	height: 90%;
	background-color: lightgrey;
	display: inline-block;
	float: left;
	padding: 2%;
	overflow: hidden;
}
#playlist-paragraph{
	max-height: 80px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 5px;

}
#playlist-info h2, #playlist-info p{
	display: inline;
}
#follower-count{
	float: right;
}

#playlist-button-info{
	width: 80%;
	height: auto;
	display: inline-block;
}
#playlist-list{
	margin-bottom: 75px;
}
#playlist-list ol{
	background-color: green;
}
#playlist-list ol li{
	width: 95%;
	margin: auto;
	background-color: blue;
}
#playlist-list>ol>li>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}
#playlist-list ol li div img{
	width: 100px;
}

#playlist-list>ol>li>div:hover img{
	opacity: 0.5;
	transition: opacity 1s;
}
#playlist-list>ol>li>div:hover div{
	opacity: 1;
	transition: opacity 1s;
}
#playlist-list>ol>li>div{
	position: relative;
}
.playlist-song-hover-button{
	opacity: 0;
	z-index: 1;
	top: 30%;
	left: 5%;
	position: absolute;
}
#playlist-list>ol>li>div>p,#playlist-list>ol>li>div>h4{
	display: inline-block;
}
@media only screen and (max-width: 1024px){
	.playlist-song-hover-button{
		left: 6%;
		top: 35%;
	}
}
@media only screen and (max-width: 600px){
	#playlist-center{
		width: 100vw;
	}
	#recent{
		width: 100vw;
	}
	.playlist-song-hover-button{
		left: 10%;
	}
}
