:root {
	--headerColor:#12232e;
	--mainColor: #007cc7;
	--textColor: #eefbfb;
	--playerColor:#203647;
	--queueColor:#4da8da;
}

body {
	margin: 0px;
	font-family: sans-serif;
	/* following removes scrollbar from the mentioned browsers as per w3schools */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
	background-color: var(--mainColor);
	color: var(--textColor);

}
/* remove scrollbar form chrome */
body::-webkit-scrollbar { 
	display: none; 
}

/* header classes and vars */
header{
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	background-color: var(--headerColor) ; 
	justify-content: space-between;
	font-size: 1.5rem;
	color: var(--textColor);
}
/* logo */
#logo{
	height: auto;
	width: auto;
	display: inline-block;
	margin-left: 2%;
}
#disc{
	height: 50px;
	width: 50px;
	animation: rotate 2s linear infinite normal;
}
/* rotating disc animation */
@keyframes rotate{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(-359deg);
	}
}
#paw{
	height: 10px;
	width: 10px;
	margin-left: -80%;
	margin-bottom: 20%;
	animation: move-up-down 0.5s linear infinite alternate;
}

/* scratching paw animation on disc */
@keyframes move-up-down{
	0%{
		transform: translateY(3px);

	}
	100%{
		transform: translateY(-3px);
	}
}
#musical-note{
	height: 50px;
	width: auto;
	padding-left: 20%;
	display: none;
	animation: back-and-forth 1s linear infinite alternate;
}
/* moving musical note animation only visible for smaller screens */
@keyframes back-and-forth{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(15deg);
	}
}
/* logo text */
#logo-text{
	display: inline-block;
	height: auto;
	width: 75px;
	margin-left: -13%;
}

/* right part of header */
#right-side-header{
	padding-left: 5%;
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#search{
	display: inline-block;
}
#search input{
	border-radius: 10px;
	box-shadow: 0px 0px 2px 4px lightgrey;
	height: 20px;
	width: 400px;
	border:none;
}
#favorites{
	display: inline-block;
}
#notification img{
	height: 20px;
	width: auto;
}
#notification img:hover{
	animation: back-and-forth 0.3s linear infinite alternate;
}
#profile{
	display: flex;
	height: inherit;
	width: auto;
	align-items: center;
	margin-right: 2%;
}
#profile>img{
	height: 50px;
	width: auto;
	border-radius: 50%;
}

/* header part complete till here */
/* main content */
main{
	padding-top: 75px;
}
#content{
	width: 75vw;
	padding-top: 20px;
	display: inline-block;
	float: left;
}

#card-wrapper{
	width:95%;
	height: 250px;
	margin-left: 2%;
	
}
#card-layout-main{
	width: 250px;
	height: 910px;
	margin-left: -220px;
}
#card-layout-main img{
	border-radius: 20px;
	width: 300px;
	height: 200px;
	margin-top: 300px;
	margin-bottom: -200px;
	margin-left: -80px;
	
}
/*zoom with shadow on hover */
#card-layout-main img:hover{
	width: 400px;
	height: 240px;
	margin-top: 420px;
	margin-bottom: -240px;
	margin-left: -155px;
	box-shadow: 0px 0px 3px 4px grey;
}
/* common classes for horizontal scrolling */
.horizontal-scroll-wrapper{
	
	
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg) ;
	transform-origin: right top;
	/*note: might need to add some padding top wherever horizontal scroll wrapper is used*/
	/*padding-top: 100px;*/
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}
.horizontal-scroll-wrapper::-webkit-scrollbar{
	display: none;
}
.horizontal-scroll-wrapper > img{
	/* always intialize following values when using horizontal scroll wrapper with images or just use given default values*/
	/*width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 200px; keep this equal to width
	margin-bottom: -200px; keep this in negative preferrably -1*marginTop
	*/
	transform: rotate(90deg);
	transform-origin: right top;
	text-align: center;
}
/*end of common classes for horizontal scrolling */
/*start of latest releases section*/
#latest-releases-wrapper{
	margin-left:5%;
	width: 90%;
	height: 350px;
	
}
#latest-releases{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	width: 100%;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}

/* remove scrollbar form chrome */
#latest-releases::-webkit-scrollbar { 
	display: none; 
}
#latest-releases>div{
	height: 150px;
}
#latest-releases h2{
	display: inline-block;
	height: 20px;
}
.latest-song{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
}

/* end of latest releases section */

/* start of popular artists section */
#popular-artists-wrapper{
	margin-top: 10px;
	width: 90%;
	margin-left: 5%;
	
	height: 200px;
}
#popular-artists{
	
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}

/* remove scrollbar form chrome */
#popular-artists::-webkit-scrollbar { 
	display: none; 
}
.artist{
	
	height: 150px;
}
.artist img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-left: 30px;
	margin-top: 10px;
}
.artist p{
	text-align: center;
}



/*end of popular artists section */

/*start of stations section*/
#stations-wrapper{
	height: 100px;
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}

/* remove scrollbar form chrome */
#stations-wrapper::-webkit-scrollbar { 
	display: none; 
}
.station{
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.station>img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

/*end of stations section*/
/*start of music types*/

#music-type-external-wrapper{
	
	width:90%;
	height: 250px;
	margin:auto;
	margin-top: 20px;	
}
#music-type-internal-wrapper{
	width: 250px;
	height: 700px;
	margin-left: -220px;

}
#music-type-internal-wrapper img{
	transform: rotate(90deg);
	width: 300px;
	height: 250px;
	margin-top: 24px;
	margin-left: -40px;
}
.music-type{
	height: 300px;
	width: 220px;
	overflow: hidden;
	margin: 5px;
}
#music-type-internal-wrapper div:hover img{
	width: 450px;
	height: 400px;
	margin-left: -60px;
	margin-top: -40px;
}


/*end of music types*/
/*latest english start*/
#latest-english-wrapper{
	height: 280px;
	
	margin-left: 5%;
	margin-top: 20px;
	width: 90%;
	
}
.latest-songs-wrapper{
	height: 230px;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-gap: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}

/* remove scrollbar form chrome */
.latest-songs-wrapper::-webkit-scrollbar { 
	display: none; 
}
.latest-song{
	height: 220px;
	overflow: hidden;
}
.latest-song img{
	max-width: 100%;
	height: 150px;
}
.latest-song h4{
	margin-top: -4px;
}
.latest-song p{
	margin-top: -16px;
}

/*latest english end*/
/* latest hindi start*/
#latest-hindi-wrapper{
	height: 200px;
	margin-left: 5%;
	margin-top: 20px;
	width: 90%;
	margin-bottom: 150px;
}
/* latest hindi end*/

/*scrollbar*/
#scroll-simulator {
	position: absolute;
	width: 0;
	top: 16%;
	left: 73%;
	border: 1px dashed #0096fa6b;
	height: 210%;
	color: var(--queueColor);
}
#scroll-simulator .scroll-traveller {
	position: sticky;
	top: 135px;
	z-index: 2;
}

#scroll-simulator i {
	transform: rotate(90deg);
	margin-top: -35px;
	display: block;
	color: var(--playerColor);
}
/*scrollbar end*/
/*start of queue section */
#queue{
	width: 25vw;
	float: left;
	background-color: var(--queueColor);
	right: 0px;
	height: 77vh;
	position: fixed;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}

/* remove scrollbar form chrome */
#queue::-webkit-scrollbar { 
	display: none; 
}

#queue>div{
	position: fixed;
	width: 25vw;
	z-index: 3;
	background-color: var(--queueColor);
}
#queue h2{
	display: inline;
	float: left;
}
/*some common classes for dropdowns*/
.dropdown{
	float: right;
	overflow: hidden;
}

.dropdown .drop-button{
	right: 0px;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	background-color: var(--queueColor);
	padding: 14px 16px;
	font-family: inherit;
	margin: 0;
}
.dropdown:hover .drop-button{
	background-color: var(--playerColor);
}

.dropdown-content{
	display: none;
	position: absolute;
	margin-left: -100px;
	background-color: var(--playerColor);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	float: none;
	color: var(--textColor);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover{
	background-color: var(--mainColor);
}

.dropdown:hover .dropdown-content {
	display: block;
}
/*songs queue */
#songs-queue-wrapper{
	margin-top: 100px;
	margin-left: -35px;
}
/*some common classes*/
.custom-counter{
	list-style: none;
	counter-reset: my-counter;
}
.custom-counter li{
	counter-increment: my-counter;
}
.custom-counter li::before{
	content: counter(my-counter) " ";
}
/*song playing bar*/
.bar-wrapper{
	display: inline-block;
	overflow: hidden;
	height: 20px;
	width: 24px;
}
.bar{
	display: inline-block;
	width: 5px;
	background-color: var(--playerColor);
	position: relative;
}
.bar-one{
	animation: grow-shrink 0.5s linear infinite alternate;
}
.bar-two{
	animation: grow-shrink 0.7s linear infinite alternate;
}
.bar-three{
	animation: grow-shrink 1.1s linear infinite alternate;
}
.not-playing{
	opacity: 0;
}
/*song image*/
.song-in-queue{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
.song-in-queue img{
	width: 75px;
	height: 75px;
}
.song-info-container{
	display: inline-block;
	height: 75px;
	width: 150px;
	overflow: hidden;
}
.song-info-container h4{
	display: inline;
}
.song-info-container p{
	display: inline;
}

@keyframes grow-shrink{
	0%{
		height: 20px;
		margin-top: 0px;
	}
	50%{
		margin-top: 10px;
		height: 10px;
	}
	100%{
		margin-top:0px;
		height: 20px;
	}
}
/* end of queue section */
/*start of player section*/
#player{
	width: 100%;
	height: 75px;
	position: fixed;
	background-color: var(--playerColor);
	display: block;
	bottom: 0px;
}
.equal-width{
	height: inherit;
	width: 33%;
	float: left;
}

#player-song-info{
	width: 80%;
	height: inherit;
	float: left;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}
#player-song-info img{
	height: inherit;
	width: 100px;
}
#player-song-info table{
	height: inherit;
	overflow: hidden;
}
#player-song-info p,#player-song-info h4{
	margin: 0px;
}
#player-left{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#player-right{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#player-right img{
	width: 20px;
	height: 20px;
}
#player-center{
	
}
#player-center-top{
	width: 100%;
	height: 70%;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#player-center-song-info{
	display: none;
}
#controls{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
#player-center .slidecontainer input{
	width: 60%;
	max-width: 500px;
}
#player-center .slidecontainer{
	display: flex;
	justify-content: space-around;
}
#player-center .slidecontainer p{
	margin: 0px;
	display: inline;
}
/*end of player section*/
/* changes for smaller screens */
@media only screen and (max-width: 1024px){
	#popular-artists{
		grid-template-columns: repeat(4, 1fr);
	}
	.artist img{
		margin-left: 20px;
	}
	#stations-wrapper{
		grid-template-columns: repeat(4,1fr);
	}
	.latest-songs-wrapper{
		grid-template-columns: repeat(5,1fr);
	}
	#logo-text{
		display: none;
	}
	.latest-song img{
		height: 150px;
		width: 150px;
	}
	#musical-note{
		display: inline-block;
		margin-left: -10%;
	}
	#paw{
		margin-left: -40%;
		margin-bottom: 10%;
	}
	#search input{
		width: 300px;
	}
	#card-layout-main{
		height: 605px ;
	}
	#music-type-internal-wrapper{
		height:550px;
	}
	.bar-wrapper{
		width: 0px;
	}
}
@media only screen and (max-width: 824px){
	#popular-artists{
		grid-template-columns: repeat(3, 1fr);
	}
	#latest-releases{
		grid-template-columns: repeat(1, 1fr);
	}
	.latest-songs-wrapper{
		grid-template-columns: repeat(4,1fr);
	}
	#stations-wrapper{
		grid-template-columns: repeat(3,1fr);
	}
	#player-left{
		width: 0px;
		height: 0px;
		overflow:hidden;
	}
	#player-center{
		width: 100%;
	}
	#player-center-top{
		flex-wrap: wrap;
	}
	#player-center-song-info{
		display: block;
		width: 100%;
	}
	#player-center-song-info h4{
		margin: 0px;
		text-align: center;
	}
	#player-center .slidecontainer{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	#player-right{
		width: 0px;
		overflow:hidden;
		height: 0px;
	}
	.latest-song img{
		height: 100px;
		width: 100px;
	}
	#latest-releases > div {
		height: 150px;
	}
	#search input{
		width: 150px;
	}
	#card-layout-main{
		height: 302px; 
	}
	#music-type-internal-wrapper{
		height:400px;
	}
	.song-in-queue img{
		display: none;
	}
}
@media only screen and (max-width: 600px){
	#popular-artists{
		grid-template-columns: repeat(2, 1fr);
	}
	#search{
		display: none;
	}
	#notification{
		padding-left: 50px;
	}
	#card-layout-main{
		margin-left: -240px; 
	}
	
	.latest-songs-wrapper{
		grid-template-columns: repeat(3,1fr);
	}
	#music-type-internal-wrapper{
		height:250px;
	}
}
@media only screen and (max-width: 400px){
	.artist img{
		margin-left: 10px;
	}
	#stations-wrapper{
		grid-template-columns: repeat(2,1fr);
	}
	#card-layout-main{
		margin-left: -260px; 
		width: 200px;
		height: 320px;
	}
	#card-layout-main img{
		border-radius: 20px;
		width: 250px;
		height: 180px;
		margin-top: 300px;
		margin-left: -60px;

	}
	#card-wrapper{
		height: 200px;
	}
	

	.latest-songs-wrapper{
		grid-template-columns: repeat(2,1fr);
	}
	#music-type-internal-wrapper{
		height:200px;
	}
}
@media only screen and (max-width: 220px){
	#musical-note{
		display: none;
	}
	#favorites{
		display: none;
	}
}