body {
	margin: 0px;
	font-family: sans-serif;
	font-size: 30px;
	/* following removes scrollbar from the mentioned browsers as per w3schools */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* firefox */
}
/* remove scrollbar form chrome */
body::-webkit-scrollbar { 
	display: none; 
}

/* header classes and vars */
header{
	width: 100%;
	height: 150px;
}
/* logo */
#logo{
	height: inherit;
	width: 100px;
	margin-left: 0.5%;
	margin-top: 0.5%;
}
#disc{
	height: 50px;
	width: 50px;
	animation: rotate 2s linear infinite normal;
}
/* rotating disc animation */
@keyframes rotate{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(-359deg);
	}
}
#paw{
	height: 10px;
	width: 10px;
	position: absolute;
	margin-left: -3.5%;
	margin-top: 1.5%;
	animation: move-up-down 0.5s linear infinite alternate;
}
/* scratching paw animation on disc */
@keyframes move-up-down{
	0%{
		transform: translateY(3px);

	}
	100%{
		transform: translateY(-3px);
	}
}
